extends layout
block content
  //Başlık bölümündeki bilgileri ayarlaya
  #banner.page-header
    //satır oluştur
    .row
      .col-lg-6
        h1
          |Mekan32
          small &nbsp;Isparta civarındaki mekanları keşfedin!
  .row
    //mobil uyumlu listeleme
    .col-xs-12.col-sm-12
      //Liste grubu oluştur
      .row.list-group
       //Listeye öğe ekleme. Birden fazla eleman ekliycekseniz
       //aşağıdaki kodu kopyalayın ve yapıştırın
       .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Starbucks
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star-empty
             span.glyphicon.glyphicon-star-empty
           span.badge.pull-right.badge-default 25km
           p.address Centrum Garden AVM
           p
              span.label.label-warning Dünya Kahveleri
              | &nbsp;
              span.label.label-warning Kekler
              | &nbsp;
              span.label.label-warning Pastalar
              | &nbsp;     
       .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Semer Cafe
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star-empty
           span.badge.pull-right.badge-default 17km
           p.address Fatih Mahallesi 
           p
              span.label.label-warning Nargile
              | &nbsp;
              span.label.label-warning Kahve
              | &nbsp;
              span.label.label-warning Çay
              | &nbsp;
              span.label.label-warning Masa oyunları
              | &nbsp;
       .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Köfteci Yusuf
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
           span.badge.pull-right.badge-default 15km
           p.address İyaşpark AVM
           p
              span.label.label-warning Izgara Köfte
              | &nbsp;
              span.label.label-warning Döner
              | &nbsp;
       .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Sarımsak Cafe
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star-empty
             span.glyphicon.glyphicon-star-empty
             span.glyphicon.glyphicon-star-empty
           span.badge.pull-right.badge-default 16km
           p.address Yedişehitler Mahallesi
           p
              span.label.label-warning Canlı Müzik
              | &nbsp;
              span.label.label-warning Çay/Kahve
              | &nbsp;
              span.label.label-warning Nargile
              | &nbsp;
       .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Huni Cafe & Bar
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
           span.badge.pull-right.badge-default 13km
           p.address Fatih Mahallesi
           p
              span.label.label-warning Alkol
              | &nbsp;
              span.label.label-warning Canlı Müzik
              | &nbsp;
       .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Gevşek Bar
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star-empty
             span.glyphicon.glyphicon-star-empty
           span.badge.pull-right.badge-default 28km
           p.address Kutlubey Mahallesi
           p
              span.label.label-warning Alkol
              | &nbsp;
              span.label.label-warning Nargile
              | &nbsp;
              span.label.label-warning Müzik
              | &nbsp;
              


    .col-xs-12.col-sm-4

    